@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@{
    var texts = new[]{"啊", "波", "次", "得"};
    foreach (var text in texts.OrderBy(x => x))
    {
        <p>@text</p>
    }
}